/* ------------------------------- */
/* MAIN */
/* ------------------------------- */
html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Rubik', sans-serif;
}

body {
  position: relative;
}

/* ------------------------------- */
/* NAVIGATION */
/* ------------------------------- */
nav {
  z-index: 1000;
}

#nav-top {
  animation: fadeInDown .5s linear;
  border-bottom: 1px solid skyblue;
}

@media (max-width: 767px) {
.navbar-nav  {
    border-bottom: 1px solid skyblue;
  }
}

#navigation-container {
  max-width: 1200px;
}

@media (max-width: 845px) {
  #nav-top {
    padding: 0px;
  }
  #navigation-container {
    padding: 0px;
  }
  #navbar-icon {
    margin-left: 10px;
  }
  .navbar-toggler {
    margin-right: 10px;
  }
  .navbar-nav li {
    margin-left: 10px;
  }
}

.navbar {
  font-family: 'Rubik', sans-serif;
  background-color: black;
  max-height: 65px;
}

.navbar-collapse {
  background-color: black;
}

nav a {
  color: white;
  font-size: 1.1rem;
  font-weight: 100;
}

#navigation-container ul a {
  color: white;
  height: 40px;
}

#navigation-container .active {
  color: skyblue;
}

/* Navbar links on hover */

#navigation-container ul a:focus,
#navigation-container ul a:active,
#navigation-container ul a:hover {
  color: skyblue;
}

#navbar-icon {
  max-height: 40px;
  max-width: 40px;
}

.navbar-brand:hover {
  transform: scale(1.1);
  transition: .6s;
}


#navbarNavDropdown {
  width: 100vw;
}
/* BOTTOM NAVIGATION*/

#nav-bottom {
  opacity: 0;
  height: 45px;
}

.nav-link {
  padding: 0px;
}

#github-logo {
  padding: 0px 0px 0px 0px;
}

#github-logo:hover {
  color: skyblue;
}


@media (max-width: 575px) {
  #contact-button,
  #github-logo {
    margin: 0px 1rem;
  }
}



/* ------------------------------- */
/* MAIN */
/* ------------------------------- */

/* HEADINGS */

.heading_subtitle {
  text-align: center;
  font-style: italic;
}


/* RECENT WORK AREA */

.card-img {
  height: 300px;
  width: auto;
  margin: auto;
  margin-bottom: 5px;
}

@media (max-width: 575px) {

  .card-img {
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 767px) {

  .card-img {
    height: 280px;
  }

}

.modal-image-container {
  text-align: center;
}

.modal-image {
  padding-top: 5px;
  height: 100%;
  max-height: 300px;
  width: 95%;
  max-width: 300px;
  margin: auto;
}


.recent-work-card {
  border: none;
}

#recent-work-container h5 {
  color: white;
}

#recent-work-container .card {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
}


#recent-work-container .card-img:hover {
  opacity: 0.6;
  transition: .5s linear;
}

#recent-work-container img {
  box-shadow: 5px 10px 5px #aaaaaa;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 1;
  transition: .5s linear;
}

.container h2 {
  text-align: center;
  color: #313133;
  font-weight: 400;
  margin-bottom: 2rem;
}

/* Body */


.container {
  position: relative;
}

.card {
  height: 100%;
}

.row {
  padding-bottom: 2rem;
}

.main-content {
  padding: 1rem;
  padding-bottom: 0px;
  max-width: 1200px;
  margin: auto;
  display: none;
}


/* Anchor tags for navigation bar offset */

.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

/* ------------------------------- */
/* JUMBOTRON SECTION */
/* ------------------------------- */

#jumbotron {
  box-shadow: 0px 10px 5px #aaaaaa;
  background-color: black;
}

#jumbotron h1,
#jumbotron p {
    font-family: 'Oswald', sans-serif;
}

#jumbotron p {
  font-size: 1.5rem;
}

@media (max-width: 767px ) {
  .jumbotron-left {
    background-image: url("../images/R2D2capture2.JPG");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top right;
  }
}

.jumbotron-left {
  background-color: black;
}

#jumbotron-row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

#jumbotron-right {
    background-image: url("../images/R2D2capture2.JPG");
    background-size: cover;
}

@media (max-width: 992px) {
  .jumbotron h1 {
    font-size: 40px;
  }
  .jumbotron p {
    font-size: 20px;
  }
}

/* ------------------------------- */
/* PORTFOLIO */
/* ------------------------------- */

/* Buttons */

.projects-button-container {
  text-align: center;
}

.button-width {
  width: 80%;
}

#projects-heading,
#contact-heading {
  display: none;
}

.card ul {
  margin-top: auto;
}

.card-body h5 {
  text-align: center;
  font-weight: bold;
}

/* ------------------------------- */
/* CONTACT AREA */
/* ------------------------------- */

#contact-form-row .contact-input {
  margin-bottom: 1rem;
  padding-left: 0px;
  padding-right: 0px;
}

#contact-message-input {
  height: 15rem;
}


/* ------------------------------- */
/* KEY FRAMES & ANIMATIONS */
/* ------------------------------- */

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft2 {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight2 {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  65% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
  25% {
    opacity: 0;
  }
	100% {
		opacity: 1;
	}
}

@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-50px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

/* BOUNCE ANIMATION FOR ICONS */


@keyframes jump {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-50px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

/* --------------------------------------------------
CLASS ANIMATIONS
----------------------------------------------------- */

.slide-header {
    animation:slideInFromLeft 1s linear;
}

.slide-left {
  animation:slideInFromLeft 1s linear;
}

.slide-left-2 {
  animation:slideInFromLeft2 1s linear;
}

.slide-right {
  animation:slideInFromRight .5s linear;
}

.slide-right-2 {
  animation:slideInFromRight2 1s linear;
}

.slide-up-one {
  animation:slideInFromBottom 1.2s ease-out;
}

.slide-up-two {
  animation:slideInFromBottom 1.4s ease-out;
}

.slide-up-three {
  animation:slideInFromBottom 1.6s ease-out;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 1s;
}

.fade-in-2 {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: .5s;
}

/* Bounce animation for icons */

.bounce {
    animation-name: jump;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-duration: 2s;
}

/* ------------------------------- */
/* SVG STYLES */
/* ------------------------------- */

.svg {
  display: inline-block;
  float: left;
  margin-right: -2.5rem;
}

/* ------------------------------- */
/* MEDIA QUERY FOR MOBILE DEVICES (TO REMOVE ANIMATIONS ON SCROLL) */
/* ------------------------------- */

/* CHANGE BELOW TO ONE CLASS AND GIVE CLASS TO ALL AREAS */

@media (max-width: 375px) {
  .main-content,
  #about-area,
  #travel-heading,
  #music-heading,
  #projects-heading,
  #project-card-one,
  #project-card-two,
  #project-card-three {
    display: block;
  }
}
