/* ------------------------------- */
/* MAIN */
/* ------------------------------- */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}


/* ------------------------------- */
/* NAVIGATION */
/* ------------------------------- */

nav {
    animation: fadeInDown .5s linear;
}

.navbar {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}

nav a {
  color: white;
  font-size: 1.1rem;
  font-weight: 100;
}

.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

.container {
  position: relative;
}


/* ------------------------------- */
/* MAIN */
/* ------------------------------- */

/* HEADINGS */

.container h2 {
  text-align: center;
  color: #313133;
  font-weight: 400;
}

.container h3,
.container h4,
.container h5,
.container h6 {
  font-weight: 100;
}


/* Body */

.main {
  padding: 1rem;
}

.slide-header {
    animation:slideInFromLeft .3s linear;
}

.slide-left {
  animation:slideInFromLeft .8s linear;
}

.slide-right {
  animation:slideInFromRight .8s linear;
}

.slide-up-one {
  animation:slideInFromBottom .6s ease-in;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	animation-duration: 1.5s;
}

/* Bounce animation for icons */
.bounce {
    animation-name: bounce-7;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-duration: 2s;
}

/* Anchor tags for navigation bar offset */

.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

/* ------------------------------- */
/* JUMBOTRON SECTION */
/* ------------------------------- */

.jumbotron{
  background-color: white;
}

/* ------------------------------- */
/* ABOUT SECTION */
/* ------------------------------- */

/* Profile Image */

#profile_image {
  border-radius: 50%;
}

/* ------------------------------- */
/* PORTFOLIO */
/* ------------------------------- */


/* ------------------------------- */
/* CONTACT AREA */
/* ------------------------------- */

.grey{
  background-color: grey;
}



/* ------------------------------- */
/* KEY FRAMES & ANIMATIONS */
/* ------------------------------- */



@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-50px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

/* BOUNCE ANIMATION FOR ICONS */


@keyframes bounce-7 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-50px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

/* ------------------------------- */
/* SVG STILES */
/* ------------------------------- */
.svg {
  display: inline-block;
  float: left;
}
