/* ============================================= */
/*              Images                           */
/* ============================================= */
.img-avatar {
  @include img-display;
  max-height: 100%;
}

.img-frame {
  @include img-display;
  padding: 13px;
  border: 1px solid #ccc;
}

.img-logo {
  @include img-display($max-w:null, $mar-top: null);
}
