// ======================================
//  Variables
// ======================================

// MAIN COLORS
          $white: #fff;
  $color-primary: #58e1c1;
$color-secondary: #777;
   $color-theme1: #927bc1;
   $color-theme2: #fd7856;
   $color-theme3: #deb2ee;
   $color-theme4: #7ee6fd;
   $color-theme5: #88d9a0;
   $color-theme6: #4da2bb;
   $color-theme7: #ec9fa3;
   $color-theme8: #fd9f85;
   $color-theme9: #e4757a;
  $color-theme10: #63cc82;
  $color-theme11: #51ddfc;
  $color-theme12: #80e8d1;

//THEME COLORS
  $theme-colors: (
     '1': $color-theme1,
     '2': $color-theme2,
     '3': $color-theme3,
     '4': $color-theme4,
     '5': $color-theme5,
     '6': $color-theme6,
     '7': $color-theme7,
     '8': $color-theme8,
     '9': $color-theme9,
    '10': $color-theme10,
    '11': $color-theme11,
    '12': $color-theme12,
  );

//MEDIA QUERIES

$media-q-min: 768px;
